APP_ENV=
VITE_LOCALE=
VITE_SSO_REDIRECT_URI=
SSO_BASE_URL=
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_SCOPE=
SSO_OPEN_API_BASE_URL=
AUTH_SESSION_SECRET=
AGORA_CUSTOMER_KEY=
AGORA_CUSTOMER_SECRET=
VITE_AGORA_RTC_APP_ID=
VITE_AGORA_RTM_APP_ID=
AGORA_RTM_APP_CERTIFICATE=
AGORA_STT_REST_BASE_URL=
AGORA_STT_BASIC_AUTH=
AGORA_STT_VENDOR_ASR_PARAMS_JSON=

MOBILE_VIEWER_TOKEN_SECRET=
VITE_STT_VENDOR_OPTIONS=

AGORA_STT_CAPTION_PROVIDER=
AGORA_STT_CAPTION_REGION=
AGORA_STT_CAPTION_BUCKET=
AGORA_STT_CAPTION_ACCESS_KEY=
AGORA_STT_CAPTION_SECRET_KEY=
AGORA_STT_CAPTION_PREFIX_ROOT=
AGORA_STT_CAPTION_SLICE_DURATION=
SSO_COMPANY_ID_WHITELIST_ENABLED=
SSO_COMPANY_ID_WHITELIST=
